.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

@import '~@fortawesome/fontawesome-free/css/all.css';

.navbar-icon {
  font-size: 24px;
}

.sponsor-icon {
  color: #c96198;
}
